body {
    background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
    color: white;
    font: courier;
    font-size: medium;
}

h1, h2, h3 {
    text-align: center;
    font-weight: 800;
}